* {
    box-sizing: border-box;
    margin: 0;
}

@mixin center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin phone() {
    @media (max-width:765px) {
        @content
    }

}

body {
    font-family: system-ui;
    position: relative;

}

.s {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2125299d;
    z-index: 99999;
}



.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 50px;
    background-color: #212529;
    color: white;
    padding-left: 240px;





    ion-icon:not(:nth-child(2)) {
        font-size: 30px;
        cursor: pointer;
    }

    .search {
        display: flex;

        input {
            border: none;
            outline: none;
            width: 205px;
            border-radius: 7px;
            padding: 10px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        ion-icon {
            background-color: #0d6efd;
            padding: 10px;
            cursor: pointer;
        }
    }

    .profile {
        display: flex;
        align-items: center;

        a {
            color: white;

            img {
                font-size: 21px;
                margin-right: 10px;
                margin-left: 10px;
                width: 35px;
            }
        }
    }

    @media(max-width:767px) {
        & {
            &.fixed {
                position: fixed !important;
                z-index: 1;

                &~.side {
                    margin-top: 50px;
                }
            }

            padding-left: 50px;
            padding: 0 20px;
            justify-content: flex-end;
            transition: 0.5s;


            .profile {
                span {
                    display: none;
                }
            }

            .search {
                display: none;
            }
        }
    }
}



.windoww {
    display: flex;

    .side {
        padding: 15px 0;
        background-color: #212529;
        min-height: 100vh;
        width: 300px;

        @media(max-width:767px) {
            & {
                display: none;
                z-index: 9;
                height: 100% !important;
                position: fixed
            }
        }

        .logo {
            @include center();
            margin-bottom: 40px;


            h1 {
                color: white;
                font-size: 25px;
                font-weight: 400;
                text-align: center;
            }

            ion-icon {
                color: white;
                font-size: 23px;
                margin-right: 10px;
            }
        }

        .items {
            padding: 10px 0;
            width: 100%;

            .item {
                padding: 20px;
                margin-bottom: 15px;
                color: white;
                font-size: 15px;
                /* background-color: blue; */
                width: 100%;
                display: flex;
                align-items: center;
                transition: 0.5s;

                &:hover,
                &:nth-child(1) {
                    background-color: white;
                    color: black !important;
                }

                &:hover a,
                &:nth-child(1) a {
                    color: black;
                }

                a {
                    color: white;
                    text-decoration: none;
                    margin-left: 10px;
                    font-size: 17px;
                    width: 100%;
                }

                ion-icon {
                    font-size: 23px;
                }
            }
        }
    }




    // counters


    .section {
        width: 100vw;
        padding: 0 20px;



        h1 {
            margin: 25px 0;
            font-weight: 500;
            text-transform: uppercase;
            border-bottom: 3px solid;
            width: 223px;
        }

        // charts
        .anlaysis {
            display: flex;
            justify-content: space-between;



            .sec {
                padding: 20px 15px;
                background-color: white;
                color: #0d6efd;
                width: 100%;
                box-shadow: 1px 4px 14px 2px #ccc;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-right: 30px;

                .count {
                    h2 {
                        font-size: 35px;
                    }

                    span {
                        color: #8e8f90;
                    }
                }

                ion-icon {
                    font-size: 40px;
                    color: #8e8f90;
                }
            }

            @media (max-width:1186px) {
                & {
                    display: grid;
                    grid-template-columns: repeat(2, 375px);
                    gap: 15px;
                }
            }

            @media(max-width:1008px) {
                & {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .sec {
                        margin-top: 25px;
                        width: 100%;
                    }
                }

            }

        }
    }



    .charts {
        display: flex;
        margin-top: 90px;
        grid-template-columns: minmax(431px, 500px) 431px;
        gap: 20px;
        justify-content: space-around;

        @media (max-width:1222px) {
            & {
                display: flex;
                flex-direction: column;
            }

            .o:nth-child(1) {
                width: 100%;
            }
        }
    }

    .o {
        box-shadow: 1px 4px 14px 2px #ccc;
        padding: 15px;
        @include center();

        &:nth-child(1) {
            flex-basis: 50%;
            width: 600px;
        }

        &:nth-child(2) {
            flex-basis: 30%;
        }

    }


    // customers

    @mixin text() {
        padding: 15px;
        font-weight: 500;
        // border-bottom: 1px solid white;
        color: #0d6efd;
    }

    .sections {
        display: flex;
        margin-top: 30px;
        justify-content: space-between;
        gap: 20px;

        @media(max-width:1222px) {
            & {
                flex-direction: column;
            }
        }
    }

    .section_c {
        width: 100%;
        height: 300px;
        background: white;
        box-shadow: 1px 4px 14px 2px #ccc;
        padding: 10px;

        .main {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .button {
                margin-right: 20px;

                a {
                    background-color: #0d6efd;
                    color: white;
                    padding: 10px;
                    border-radius: 10px;
                    text-decoration: none;
                    text-transform: uppercase;
                    text-wrap: nowrap;
                }
            }

            h2 {
                @include text()
            }
        }

        .list {
            display: flex;
            flex-direction: column;
            padding: 15px;

            .user {
                display: flex;
                align-items: center;
                padding: 5px 0;

                img {
                    height: 50px;
                    border-radius: 50%;
                    margin-right: 15px;
                }

                .name {
                    font-size: 14px;

                    h3 {
                        font-weight: 400;
                        text-transform: uppercase;
                    }
                }
            }
        }

    }


    // orders


    .list {
        height: 200px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .list::-webkit-scrollbar {
        width: 10px;
    }

    .list::-webkit-scrollbar-thumb {
        background-color: #0d6efd;
    }

    .list::-webkit-scrollbar-track {
        background-color: #f4f2f2;
    }

    .section_o {
        display: flex;
        flex-direction: column;
        width: 100%;
        box-shadow: 1px 4px 14px 2px #ccc;
        padding: 10px;

        .main {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .button {
                margin-right: 20px;

                a {
                    background-color: #0d6efd;
                    color: white;
                    padding: 10px;
                    border-radius: 10px;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }

            h2 {
                @include text()
            }
        }

        table {
            width: 100%;

            td:not(:last-child) {
                padding: 10px 0;
            }

            .head {
                text-align: justify;
                background-color: #f4f2f2;
                color: black;

                th {
                    color: black;
                    font-weight: 500;
                    padding: 0 10px;
                }
            }

            .order {
                .product_name {
                    display: flex;
                    align-items: center;

                    img {
                        width: 30px;
                        margin-right: 10px;
                    }
                }

                .status {
                    width: 20px;

                    span {
                        padding: 10px 15px;
                        color: white;
                        border-radius: 10px;
                        text-wrap: nowrap;
                        text-align: center;
                    }

                    .done {
                        background-color: green;
                    }

                    .cancel {
                        background-color: red;
                    }

                    .inpro {
                        background-color: #0d6efd;
                    }

                }
            }
        }
    }

}

.padding {
    padding-left: 50px;

    @include phone() {
        padding-left: 20px;
    }
}

.hide {
    display: none !important;

    @include phone() {

        position: fixed;
        display: block !important;

    }
}


.windooooo {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0d6efd;
    padding: 20px;
    z-index: 99999999;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    border-radius: 10px;

    img {
        height: 100px;
    }

    .text {
        padding: 10px;
        margin-bottom: 20px;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .it {

            display: flex;
            flex-direction: column;

            label {
                margin-bottom: 10px;
            }

            input {
                margin-bottom: 25px;
                padding: 10px 15px;
                font-size: 15px;
                border: 1px solid #ccc;
                outline: none;
                border-radius: 10px;

            }

        }

        [type="submit"] {
            background-color: white;
            color: black;
            outline: none;
            border: none;
            cursor: pointer;
            padding: 15px 25px;
            transition: 0.5s;
            border-radius: 10px;
            @extend input;

            &:hover {
                background-color: black;
                color: white;
            }

        }

        a {
            color: white;
            text-decoration: none;
            margin-top: 10px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.hide-2 {
    display: none !important;
}